.error p {
  color: red;
  margin-top: 15px;
}

#follow-btn {
  margin-left: 10px;
  display:inline-block;
}

.footer {
  margin-top: 25px;
}

body {
  font-family: Slabo;
  font-size: 27px ;
  color: #26C6DA;
  text-align: center;
  background: url(https://49.media.tumblr.com/2c338e448405318aca12dafbf3cab459/tumblr_nk39mhMP2p1u7rqwto1_500.gif); 
  background-size: cover;
}
