<!doctype html>
<html>
  <head>
    <title>Week 4</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <% if logged_in? %>
            <li>Welcome, <%= current_user.username %></li>
            <li><a href="/tweet">Post a Tweet!</a></li>
            <li><a href="/logout">Logout</a></li>
        <% else %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        <% end %>
      </ul>
    </nav>
    
  <div class="container1">
    <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav nav-pills">
  <li id="tab"><a href="#">Home</a></li>
  <li id="tab"><a href="#">Profile</a></li>
  <li id="tab"><a href="#">Messages</a></li>
</ul>
    </nav>
  </div>


    <div class="container">
      <h1>Welcome to Fwitter Dudee!</h1>
      <%= yield %> 
      </div>
  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
